/* Hero */
.defaultHero {
  min-height: calc(100vh - 0px);
  background: url('../../assets/slide1.jpeg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.defaultHero1 {
  min-height: calc(100vh - 0px);
  background: url('../../assets/slide2.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.defaultHero2 {
  min-height: calc(100vh - 0px);
  background: url('../../assets/slide3.jpeg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lost {
  font-size: 44px;
  color: yellow;
  text-align: center;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}
